
/* Some base css for better css alignment & layout  starts */

html, body {
  /* max-width: 100%; */
  overflow-x: hidden !important;
}

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Product sans regular' !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Product sans regular' !important;
}

/* Some base css for better css alignment & layout end */

/* background image css starts */

/* .ant-layout-content {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../public/assets/images/background.jpg);
  background-size: contain;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
} */

/* #bimg:hover {
  opacity: 0.6;
  -webkit-backface-visibility: hidden;
} */
 
/* .card-body{
 background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
} */

/* background image css end */
